﻿body {
    text-align: center;
}

.InfoPanel {
    padding: 5px;
    text-align: left;
    margin-left: 20px;
    float: left;
    border: solid;
    border-radius: 10px;
}

.LeftPanel {
    padding: 5px;
    float: left;
    border: solid;
    border-radius: 10px;
    height: auto;
}

.FormPanel {
    padding: 5px;
    text-align: left;
    margin-left: 20px;
    float: left;
    border: solid;
    border-radius: 10px;
}

.divcss {
    margin: 0 auto;
    display: inline-block;
}
